.header_grid {
  display: grid;
  grid-template-columns: 1fr 3fr fit-content;
}

.no-scroll::-webkit-scrollbar{
  width: 0;
  display: none;
}
.boton{
  padding: 20px 40px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}