<div class="w-full h-[88vh]">
  <app-header
    (updatedSubject)="updateSubject($event)"
    [subject]="this.subject"
  ></app-header>

  <div class="h-5/6 w-full px-10 no-scroll">
    <div class="h-5/6 overflow-y-scroll text-white font-semibold">
      <div
        *ngFor="let student of students"
        class="w-full h-[5vh] bg-zinc-700 px-10 text-xl mt-5 flex justify-between items-center"
      >
        <span>{{ student.name }}</span>
        <div class="w-1/4 justify-evenly flex items-center text-black">
          <input
            type="number"
            class="h-5/6 w-14 px-2 py-2"
            [value]="student.calification?.value"
            (keyup)="changeCalification($event, student.calification)"
            maxlength="2"
            maxlength="number"
          />
          <button
            class="btn bg-indigo-700 px-4 py-1 text-white flex items-center"
            (click)="updateCalification()"
          >
            <mat-icon fontIcon="update" class="mr-3 mt-1"></mat-icon>
            Update
          </button>
          <span class="px-4 py-2 font-bold text-white text-3xl">
            {{ calcularLiteral(student.calification?.value) }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
